In [2]:
print('Strings in Python')

Strings in Python

In [3]:
s = 'Hello world'

In [4]:
print(s)

Hello world

In [5]:
print(s[-1]) #to access last character of string

d

In [6]:
print(s[-3]) #access third last character

r

In [7]:
print(s[0])

H

In [10]:
#string concatination and string repitition
# S1 + S2

In [9]:
s1 = "Hello"
s2 = "Data Engineer"
print(s1+ " " +s2)

Hello Data Engineer

In [11]:
print("Abhishek "*6 )

Abhishek Abhishek Abhishek Abhishek Abhishek Abhishek

In [14]:
print("Best Data engineer Abhishek Ram" * 5)
print("*" * 150)

Best Data engineer Abhishek RamBest Data engineer Abhishek RamBest Data engineer Abhishek RamBest Data engineer Abhishek RamBest Data engineer Abhishek Ram
******************************************************************************************************************************************************

In [5]:
s= "Namaste Python"

In [6]:
print(s[1])

a

In [9]:
print(s[8:12])

Pyth

In [11]:
print(s[-5:])

ython

# Basic Build-in String Methods

## s = "Namaste Python" } <--- This definition has became an string object and in python objects has methods inside which can be used like object.methodName(parameter).         ex. s.upper(), s.lower(), etc

In [4]:
s= "Namaste Python"

In [4]:
s.lower()

'namaste python'

In [5]:
s.upper()

'NAMASTE PYTHON'

In [5]:
print(type(s))   #below output is string object

<class 'str'>

# <span style="Blue">Print Formatting</span>

In [8]:
name = "Abhishek"
age = 25
married = True

In [9]:
print("My name is %s, my age %s, and its %s that i am married" %(name, age, married))
print("My name is {}, my age is {}, and it is {} that is am married".format(name,age, married))

My name is Abhishek, my age 25, and its True that i am married
My name is Abhishek, my age is 25, and it is True that is am married

In [11]:
print(f"My name is {name}, my age is{age}")

My name is Abhishek, my age is25