# Set and Tuple

# Sets 
#### sets are unordred collection of unique elements. Can be constructed by using set() function.
#### unlike list where we have sequencial way to store elements allows duplicate elements.
#### and for dictionary we are not allowed to have duplicate keys but dict allows duplicate values

In [1]:
li = [1,1,1,1,1,1,1,2,3,4,3,3,3,3]

In [2]:
li

[1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 3, 3, 3, 3]

In [3]:
li_sets = set(li)

In [14]:
li_sets  #set stores unique elements only.

{1, 2, 3, 4}

In [5]:
x=set()

x.add(1)

x

{1}

In [6]:
type(x)

set

In [7]:
x.add(2)

In [8]:
x.add(2)
x.add(3)

In [9]:
x

{1, 2, 3}

In [10]:
x.remove(2)
x

{1, 3}

# Tuples
#### Tuples are used to store multiple items in a single variable.
#### Tuple is a collection which is ordered and unchangablel.
#### Tubple are written with round brackests

In [16]:
thistuple = ("apple","mango","cherry")
print(type(thistuple))
print(thistuple)

<class 'tuple'>
('apple', 'mango', 'cherry')

In [17]:
#AttributeError: 'tuple' object has no attribute 'remove'
thistuple.remove("apple")

AttributeError: 'tuple' object has no attribute 'remove'

In [18]:
# To add new items just over write 
thistuple = ("apple","mango","cherry","Bannana","lelo")
thistuple

('apple', 'mango', 'cherry', 'Bannana', 'lelo')

In [19]:
thistuple = ("apple","bananba","cherry","Bannana","lelo")

In [20]:
thistuple

('apple', 'bananba', 'cherry', 'Bannana', 'lelo')

In [21]:
#But over writing over tuple we can change it above is example

In [23]:
print(thistuple[3])

Bannana